# Git and environment files
.git
.gitignore
.gitattributes
.env
.env.example
.venv/

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.ruff_cache/

# Large data and test files
test_structure/
sample_docs/
pdf_images/
*.pdf

# Development and OS files
*.md
LICENSE
Makefile
payload.json
init-letsencrypt.sh
.DS_Store
.vscode/
README.md
requirements.in
payloads/
