# Ignore Python virtual environment
.venv/
env/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore IDE files
.idea/
.vscode/

# Ignore Docker-related files
.dockerignore

# Ignore sensitive files
*.pem

# Ignore build artifacts
build/
dist/

# Ignore logs
*.log

BajajFinsevHarckRx_key.pem
swappy-20250725-150151.png

