# Use the official PyTorch index for CPU-only packages
--extra-index-url https://download.pytorch.org/whl/cpu

# High-level dependencies
fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart
gunicorn
requests
python-dotenv
ruff
aiohttp
google-generativeai
python-docx
PyMuPDF
